<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

      <% ctnr.forEach(function(el, index) { %>
      <%= el.name     %><br />
      <%= el.ip     %><br />
      <% }); %>    


  </body>
</html>
